<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Task List 0.0.1</display-name>

	<servlet>
		<display-name>JAX-RS Servlet</display-name>
		<servlet-name>org.challenge.tasklist.server.rest.RestApplication</servlet-name>
		<!-- Register JAX-RS Application, if needed. -->
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>org.challenge.tasklist.server.rest.RestApplication</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>org.challenge.tasklist.server.rest.RestApplication</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

</web-app>